body {
  font-family: sans-serif;
  --tumblr-blue: #36465d;
  --default-link-color: #0000EE;
}

h1 {
    color: var(--tumblr-blue);
}

.posts {
  letter-spacing: 0.05em;
}

a:link {
  color: var(--default-link-color); /* set default for links to match with navigation links */
}
.navigation {
  color: var(--default-link-color); /* override `visited` styling for "back" links, since those will always be considered "visited" */
}

/* --- Search spinner --- */
/* code credit to https://github.com/tobiasahlin/SpinKit, lightly tweaked */
.spinner {
  width: 30px;
  height: 30px;
  margin: 10px auto;
  background-color: var(--tumblr-blue); /* use #f0f8ff if tumblr blue is background */

  float: left;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
/* --- */
