body {
  background: #36465d; /* tumblr blue */
  font-family: sans-serif;
  color: white;
}

a:link {
  color: white;
}
a:visited {
  color: lightgrey;
}

/* --- Search spinner --- */
/* code credit to https://github.com/tobiasahlin/SpinKit, lightly tweaked */
.spinner {
  width: 30px;
  height: 30px;
  margin: 10px auto;
  background-color: #f0f8ff;

  float: left;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
/* --- */
